
.mail {
    width: 100%;
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}
.mail__tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    background-color: #fff; 
    margin-left: 5px;
    margin-top: 4px;
  }

  .mail__tools--left {
    display: flex;
    align-items: center;
  }
  .mail__tools--right {
    display: flex;
    align-items: center;
  }

  .mail__tools--right > .mail__tools--right-icon {
    font-size: 14px;
  }
  .mail__tools--back {
    padding-right: 8px;
  }

  .mail__tools--group {
    display: flex;
    flex-wrap: nowrap;
    border-right: 1px solid rgba(211, 211, 211, 0.267);
    margin-right: 12px;
    padding-right: 8px;
  }

  .mail__tools--group:last-child {
    border: none;
  }

  .mail__tools--group > button {
    margin-right: 5px;
    color: #000;
  }
  .mail__tools--group > button:first-child {
    margin-left: 10px;
    color: #000;
  }

  .avatar__img {
    border-radius: 50%;
    padding: 0 16px;
  }
  
  .mail__body--header{
    display: flex;
    justify-content: space-between;    
    padding: 20px 0 8px 72px;
  }

  .mail__body{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .mail__body--header-left{
    display: flex;
    flex-wrap: wrap;
  }

  .mail__body--header-left > h2 {
    font-weight: 400;
    margin-right: 10px;
  }

  .mail__body--header-icon {
    margin-right: 30px;
  }

  .mail__body--midBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    width: 100%;
  }

  .mail__body--midBar-left{
    display: flex;
    align-items: center;
    flex: 0.95;
  }

  .mail__body--title {
    padding-left:  8px;
    margin-right: 2px;
    font-size: 14px;
    
  }

  .mail__body--description {
    font-size: 12px;
  }

  .mail__body--midBar-right {
    display: flex;
    align-items: center;
    margin-right: 0;
  }

  .mail__body--timestamp {
    font-size: 12px;
  }
  